@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    color: aliceblue;
}

body {
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;


}

header {
    background-color: #18055554;
}

header img {
    height: 40px;
    padding-left: 30px;
}

.logo_header {
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header_section {
    display: flex;
    justify-content: space-between;
}

nav {
    padding-right: 12px;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.main_background {
    background-color: #0d0247;
}

.main_section {
    padding-bottom: 60px;


}

main {
    flex-grow: 1;

}

footer {
    background-color: #18055554;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main_img {
    width: 100px; 
    max-width: 160px;
    min-width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 8px;
    transition: transform 0.4s ease, opacity 0.4s ease;
    object-fit: cover;

}

.main_img:hover {
    transform: scale(1.1);
    opacity: 0.5;
}


.img_position {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 20px;
    width: auto;
    text-align: center;
}

.link {
    text-decoration: none;
    color: aliceblue;
}

.link:hover {
    color: #806f53;
    border: #070221;
}

.midtext {
    background-color: #e8d2c338;
}

.text_section {
    position: relative;
    background-image: url('./img/praia-da-adraga.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px 20px;
    color: white;
    text-align: center;
}

/* Optional halbtransparenter Hintergrund für bessere Lesbarkeit */
.text_content {
    background-color: rgba(0, 0, 0, 0.5);
    /* dunkler Halbtransparent-Overlay */
    padding: 100px;
}

.main_text {
    background-color: rgba(0, 0, 0, 0.2);
    /* dunkler Halbtransparent-Overlay */
    padding: 50px;
}
dialog {
    border: none;
    background-color: #070221;
    height: 100vh;
}
dialog::backdrop{
    background-color: rgb(10, 1, 16,0.7);
}
dialog h2{
    color: aliceblue;
}
figcaption {
     color: aliceblue;
     padding-top: 20px;
     width: 500px;
}
.dialog_img{
    max-width: 400px;
    height: 400px;
    object-fit: cover;
}

