@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    color: aliceblue;
}

body {
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;


}

header {
    background-color: #05011189;
}

header img {
    height: 40px;
    padding-left: 30px;
}

.logo_header {
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header_section {

    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    padding-right: 12px;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.main_background {
    background-color: #0d0247;
}

.main_section {
    padding-bottom: 60px;


}

main {
    flex-grow: 1;

}

footer {
    background-color: #05011189;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main_img {
    width: 100px;
    max-width: 160px;
    min-width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 8px;
    transition: transform 0.4s ease, opacity 0.4s ease;
    object-fit: cover;
    
}

.main_img:hover {
    transform: scale(1.1);
    opacity: 0.5;
     cursor: pointer;
}


.img_position {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 20px;
    width: auto;
    text-align: center;
}

.link {
    text-decoration: none;
    color: aliceblue;
}

.link:hover {
    color: #42e8e2;
    border: #070221;
}

.midtext {
    background-color: #e8d2c338;
}

.text_section {
    position: relative;
    background-image: url('./img/praia-da-adraga.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px 20px;
    color: white;
    text-align: center;
}


.text_content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 100px;
}

.main_text {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 50px;
}

.imprint {
    padding: 50px;
    text-align: center;


}

.imprint p {
    text-align: center;
}

.imprint a {
    word-break: break-all;
}

dialog {
    border: none;
    background-color: #070221;
    overflow: hidden;

}

.no-scroll {
    overflow: hidden;
}


dialog::backdrop {
    background-color: rgb(10, 1, 16, 0.7);
}

dialog figure {
    height: 600px;
}

dialog h2 {
    color: aliceblue;
}

figcaption {
    color: aliceblue;
    padding-top: 30px;
    width: 500px;
}

.dialog_img {
    max-width: 400px;
    height: 400px;
    object-fit: cover;
}

button {
    padding: 10px 20px 10px 20px;
    background-color: rgba(8, 82, 119, 0.374);
    color: aliceblue;
    border-radius: 5px;
    border-color: rgba(165, 180, 188, 0.281);

}

button:hover {
    cursor: pointer;
}

dialog footer {
    display: flex;
    justify-content: space-evenly;
}

dialog header {
    padding: 5px;
}

.socialLogo {
    height: 100px;
}

.socialLogo:hover {
    cursor: pointer;

}

.Socialcontactsession {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.smSection {
    background-color: #32489187;
    width: 100%;
    height: 200px;
}

@media (min-width: 1440px) {
    .page-wrapper {

        margin: 0;
        width: 100%;
    }

    .page-wrapperimpr {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    nav {
        display: none;
        flex-direction: column;
        background-color: #160842;
        position: absolute;
        top: 100px;
        right: 0;
        width: 100%;
        padding: 20px;
        font-size: 19px;

    }

    .link {
        position: relative;
        margin: 13px 0;
        padding-bottom: 5px;
        display: inline-block;

    }

    .link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #42e8e2;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.3s ease;
    }

    .link:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }


    nav.show {
        display: flex;
    }

    .burger {
        display: flex;
        color: white;
        flex-direction: column;
        justify-content: center;
    }

    .burger span {
        height: 3px;
        background-color: white;
        border-radius: 2px;
        width: 25px;
        margin: 3px 0;
        display: block;
        transition: all 0.3s ease;
        margin-right: 30px;
    }

    .burger.active span:nth-child(1) {
        transform: rotate(45deg) translateY(7px);
    }

    .burger.active span:nth-child(2) {
        opacity: 0;
    }

    .burger.active span:nth-child(3) {
        transform: rotate(-45deg) translateY(-7px);
    }

    .imprint {
        padding: 50px;
    }

}

/* Für große Bildschirme: nav immer sichtbar, Burger versteckt */
@media (min-width: 769px) {
    nav {
        display: flex;
    }

    .burger {
        display: none;
    }

    .burger span {
        height: 3px;
        background-color: white;
        border-radius: 2px;
        width: 25px;

    }
}

@media(max-width:700px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }

    .text_content {

        padding-left: 0px;
        padding-right: 0px;
    }

    dialog figure {
        height: 500px;
        max-width: 500px;
    }

    .dialog_img {
        max-width: 300px;
        height: 300px
    }

    dialog figcaption {
        width: 300px;
        font-size: 14px;

    }

}

@media (max-width: 400px) {

    .header_section {
        flex-direction: column;
    }

    .burger span {
        margin-right: 0px;
    }

    .burger {
        margin-bottom: 20px;
    }

    nav {
        padding-right: 0px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    .text_content {

        padding-left: 0px;
        padding-right: 0px;
    }

    dialog figure {
        height: 480px;

    }

    .dialog_img {
        max-width: 200px;
        height: 250px
    }

    dialog figcaption {
        width: 200px;
        font-size: 14px;
        padding-left: 0px;
    }

    .imprint {
        padding: 10px;
    }
}