@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Raleway', sans-serif;
  margin:0;

}
header {
    background-color: #082129;
}
header img {
    height: 40px;
}
.logo_header{
    height:100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
